<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- FontAwesome Kit -->
    <script src="https://kit.fontawesome.com/0f1d727d9d.js" crossorigin="anonymous"></script>
    <!-- Materialize Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/images/favicon.ico">
    <title>Elite PT Pro</title>
    <meta name="description" content="Application for the control of PT Sessions. Elite Fitness.">
</head>

<body>
    <header>
        <!-- Top NavBar -->
        <nav id="my-nav" class="grey darken-3">
            <div class="nav-wrapper">
                <a href="{{ url_for('home') }}" class="brand-logo logo-image" aria-label="logo-image home-link">
                    <img class="logo-image" src="{{ url_for('static', filename='images/Elite-Fitness-1.png') }}"
                        alt="elite fitness app logo">
                </a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger right" aria-label="hamburger-icon side-nav button"><i class="fa-solid fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    {% if session.user == "admin" %}
                    <li><a href="{{ url_for('manage') }}">Manage</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% elif session.pt %}
                    <li><a href="{{ url_for('pt_sessions', username=session['user']) }}">PT Sessions</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% elif session.user and not session.pt %}
                    <li><a href="{{ url_for('book_pt_session') }}">Book a Session</a></li>
                    <li><a href="{{ url_for('my_sessions', username=session['user']) }}">My Sessions</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- Mobile NavBar -->
        <ul class="sidenav right" id="mobile-nav">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if session.user == "admin" %}
            <li><a href="{{ url_for('manage') }}">Manage</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% elif session.pt %}
            <li><a href="{{ url_for('pt_sessions', username=session['user']) }}">PT Sessions</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% elif session.user and not session.pt %}
            <li><a href="{{ url_for('book_pt_session') }}">Book a Session</a></li>
            <li><a href="{{ url_for('my_sessions', username=session['user']) }}">My Sessions</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </header>

    <!-- Flash messages -->
    <div id="flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="grey darken-3 white-text center-align">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <!-- Main content block -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer-->
    <footer class="grey darken-3">
        <div class="row">
            <div class="col s12 m6 white-text text-lighten-4 center-align">
                For educational purposes only
            </div>
            <div class="col s12 m3 white-text text-lighten-4 center-align">
                <a class="white-text text-lighten-4" href="https://github.com/andrewcannan" target="_blank"
                    rel="noopener">GitHub
                    Profile <i class="fa-brands fa-github"></i></a>
            </div>
            <div class="col s12 m3 white-text text-lighten-4 center-align">
                <a class="white-text text-lighten-4" href="https://www.linkedin.com/in/andrew-cannan/" target="_blank"
                    rel="noopener">LinkedIn
                    Profile <i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </footer>

    <!-- Materialize Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Custom Scripts -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>