{% extends "base.html" %}
{% block content %}
<div class="row center-align">
    <h3 class="white-text">Book a Session</h3>
</div>
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('book_session') }}">
        <div class="card-panel grey draken-3">
            <!-- Name input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-user-plus prefix light-green-text"></i>
                    <input id="name" name="name" type="text" class="validate white-text" required>
                    <label for="name" class="white-text">Name</label>
                </div>
            </div>
            <!-- Trainer dropdown list -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-person prefix light-green-text"></i>
                    <select id="trainer_name" name="trainer_name" class="validate white-text">
                        <option value="" disabled selected></option>
                        {% for trainer in trainers %}
                        <option>{{ trainer.trainer_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="trainer_name" class="white-text">Personal Trainer</label>
                </div>
            </div>
            <!-- Datepicker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-calendar-days prefix light-green-text"></i>
                    <input id="date" name="date" type="text" class="datepicker validate" required>
                    <label for="date" class="white-text">Pick a Date</label>
                </div>
            </div>
            <!-- Times dropdown -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-calendar-days prefix light-green-text"></i>
                    <select id="time" name="time" class="validate white-text validate">
                        <option value="" disabled selected></option>
                        <option value="09:00">09:00</option>
                        <option value="10:00">10:00</option>
                        <option value="11:00">11:00</option>
                        <option value="12:00">12:00</option>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                        <option value="17:00">17:00</option>
                        <option value="18:00">18:00</option>
                        <option value="19:00">19:00</option>
                        <option value="20:00">20:00</option>
                        
                    </select>
                    <label for="time" class="white-text">Pick a Time</label>
                </div>
            </div>
            <!-- Description Input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-pencil prefix light-green-text"></i>
                    <textarea id="description" name="description" class="materialize-textarea validate white-text"></textarea>
                    <label for="description" class="white-text">Description of Workout</label>
                </div>
            </div>
            <!-- Register button -->
            <div class="row">
                <button type="submit" class="col s12 btn-large light-green white-text text-shadow">
                    Submit <i class="fa-solid fa-share-from-square"></i>
                </button>
            </div>
        </div>
    </form>
    {% endblock %}