{% extends "base.html" %}
{% block content %}
<!-- Materialize slider adjusted for my own purposes -->
<div class="row home-row">
    <div class="slider fullscreen responsive-img">
        <ul class="slides">
            <li>
                <img class="responsive-img"
                    src="{{ url_for('static', filename='images/sule-makaroglu-YFmvjO3TP-s-unsplash.webp') }}">
            </li>
            <li>
                <img class="responsive-img"
                    src="{{ url_for('static', filename='images/valery-sysoev-LDAirERNzew-unsplash.webp') }}">
            </li>
            <li>
                <img class="responsive-img"
                    src="{{ url_for('static', filename='images/sven-mieke-optBC2FxCfc-unsplash.webp') }}">
            </li>
            <li>
                <img class="responsive-img"
                    src="{{ url_for('static', filename='images/ricardo-henri-IBlWVIGnXag-unsplash.webp') }}">
            </li>
        </ul>
    </div>
    <div class="col s12 center-align home-text">
        <h1 class="white-text">Ready to book a session with your Personal Trainer?</h1>
        {% if session.user %}
        <a id="book-btn" class="waves-effect waves-light btn-large pulse" href="{{ url_for('book_pt_session') }}">Book Now</a>
        {% else %}
        <a class="waves-effect waves-light btn-large pulse" href="{{ url_for('login') }}">Login</a>
        <p class="white-text flow-text">Not registered? <a href="{{ url_for('register') }}">Register</a></p>
        {% endif %}
    </div>
</div>

{% endblock %}