{% extends "base.html" %}
{% block content %}
<div class="row center-align">
    <h1 class="black-text">Register</h1>
</div>
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel grey">
            <!-- Username input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-user-plus prefix light-green-text"></i>
                    <input id="username" name="username" type="text" class="validate black-text" required>
                    <label for="username" class="black-text">Username</label>
                </div>
            </div>
            <!-- First Name input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-user-plus prefix light-green-text"></i>
                    <input id="fname" name="fname" type="text" class="validate black-text" required>
                    <label for="fname" class="black-text">First Name</label>
                </div>
            </div>
            <!-- Last Name input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-user-plus prefix light-green-text"></i>
                    <input id="lname" name="lname" type="text" class="validate black-text" required>
                    <label for="lname" class="black-text">Last Name</label>
                </div>
            </div>
            <!-- Password input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-lock prefix light-green-text"></i>
                    <input id="password" name="password" type="password" class="validate black-text" required>
                    <label for="password" class="black-text">Password</label>
                </div>
            </div>
            <!-- Trainer switch -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="fa-solid fa-question prefix light-green-text"></i>
                        <label for="is_pt" class="black-text">
                            <input id="is_pt" name="is_pt" type="checkbox">
                            No<span class="lever"></span>Yes &nbsp; &nbsp; Are you a personal trainer?</label>
                    </div>
                </div>
            </div>
            <!-- Register button -->
            <div class="row">
                <button type="submit" class="col s12 btn-large light-green black-text text-shadow">
                    Register <i class="fa-solid fa-share-from-square"></i>
                </button>
            </div>
        </div>
    </form>
    <!-- Already registered link -->
    <div class="row">
        <div class="col s12 center-align">
            <p class="black-text flow-text">Already Registered? <a href="{{ url_for('login') }}" class="blue-text text-darken-3">Log In</a></p>
        </div>
    </div>
</div>
{% endblock %}