{% extends "base.html" %}
{% block content %}
    <div class="row">
        <form class="col s12 m8 offset-m2">
            <div class="card-panel grey draken-3">
                <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a
                    panel in other frameworks.
                </span>
            </div>
        </form>
    </div>
{% endblock %}