body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #bdbdbd;
}

main {
    flex: 1 0 auto;
    width: 100%;
}

/* Navbar */
header {
    z-index: 1;
}

.logo-image {
    width: 7em;
    height: 1.5em;
    margin-top: 3px;
}

footer {
    height: 100px;
    padding: 25px;
    z-index: 1;
}

/*  Flash message */

#flash {
    z-index: 1;
    margin-top: 2.5rem;
    }

/* HomePage */
.home-row {
    margin-bottom: 0;
}

.slider {
    z-index: 0;
}

.home-text {
    margin-top: 10%;
    position: relative;
    background-color: rgba(0, 0, 0, .5);
}

.disabled-option {
    color: #ccc;
    pointer-events: none;
  }

@media screen and (min-width: 993px) {
    .logo-image {
        margin-left: 20px;
    }

    #my-nav {
        /* important rule only used to override the important rule in materialize css*/
        background-color: rgba(0, 0, 0, .5) !important;
        height: 100px;
        padding-top: 15px;
    }
}