/* General */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #bdbdbd;
}

main {
    flex: 1 0 auto;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
}

/* Navbar */

.logo-image {
    width: 7em;
    height: 1.5em;
    margin-top: 3px;
}

/* Footer */

footer {
    height: 100px;
    padding: 25px;
}

/*  Flash message */

#flash {
    margin-top: 2.5rem;
    }

/* HomePage */

.home-row {
    margin-bottom: 0;
}

.slider {
    z-index: -1;
}

.home-text {
    margin-top: 10px;
    position: relative;
    background-color: rgba(0, 0, 0, .5);
}

#book-btn {
    margin-bottom: 20px;
}

/* Holiday form */

.holiday-card {
    margin: 0;
}

.holiday-card .holiday-content .holiday-title {
    margin-bottom: 20px;
}

/* Admin page */

.admin-table-heading {
    font-size: 1.8rem;
    line-height: 110%;
    margin: 2.3733333333rem 0 1.424rem 0;
    margin-top: 0;
}

/* Error pages */

.error-container {
    background: url(/static/images/laula-co-1TCw4zP1XBk-unsplash.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #000;
    margin-bottom: 0;
}

.error-text {
    position: absolute;
    bottom: 10%;
    background-color: rgba(0, 0, 0, .5);
}

.error-text a {
    margin-bottom: 20px;
}

/* Media Queries */

@media screen and (min-width: 993px) {
    .logo-image {
        margin-left: 20px;
    }

    #my-nav {
        /* important rule only used to override the important rule in materialize css*/
        background-color: rgba(0, 0, 0, .5) !important;
        height: 100px;
        padding-top: 15px;
    }

    .home-text {
        margin-top: 80px;
    }
}