body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    width: 100%;
}

/* Navbar */
nav {
    z-index: 1;
}

.logo-image {
    width: 7em;
    height: 1.5em;
    margin-top: 3px;
}

footer {
    height: 100px;
    padding: 25px;
    z-index: 1;
}

/* HomePage */
.home-row {
    margin-bottom: 0;
}

.slider {
    z-index: 0;
}

.home-text {
    margin-top: 10%;
    position: relative;
    background-color: rgba(0, 0, 0, .5);
}

@media screen and (min-width: 993px) {
    .logo-image {
        margin-left: 20px;
    }

    #my-nav {
        /* important rule only used to override the important rule in materialize css*/
        background-color: rgba(0, 0, 0, .5) !important;
        height: 100px;
        padding-top: 15px;
    }

    .home-text {
        bottom: -300px;
    }
}